mixin nav-bar(page)
    div#toggle-button
        i(class='fa fa-bars button', aria-hidden=true)
    div#nav-bar
        ul
            - var selected = "currentPage"
            - var isSelected = page==="TOP"
            li(id="#top-logo"): a(href="/", class=isSelected ? selected : null): h1 Yuichi Yogo
            - var isSelected = page==="WORKS"
            li: a(href="/works", class=isSelected ? selected : null) Works 
            - var isSelected = page==="BIO"
            li: a(href="/bio", class=isSelected ? selected : null) Biography