#profile-wrapper
    h2 余湖 雄一
    div
        |音楽家・プログラマー。
        br
        |8歳よりピアノを始める。
        br
        |高校時代にシカゴに留学、バンドに目覚める。
        br
        |帰国後、東京藝術大学に進学し、作曲を専攻する。
        br
        |近年は、プログラミングを用いたアルゴリズミックな音楽制作に取り組んでいる。
        br
        |Contact: yuichi.yogo.official@gmail.com