extends layout
include mixin/nav-bar
block content
  +nav-bar('BIO')
  .contents
    #bio
      .left
        include includes/bg-score
        include includes/bioDescription
        include includes/twitter-moment
      .right
        img(src="/icon.jpg")