extends ./layout
include mixin/nav-bar
block content
    +nav-bar("WORK")
    .contents
        #detail
            include includes/bg-score
            include details/cosmophony-detail
            #backButton
                a(href="/works") back
