doctype
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Yuichi Yogo Official Website 
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400", rel="stylesheet")
    script(src="https://use.fontawesome.com/7a22edf71a.js")
    <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
    include includes/g-analytics.html 
  body
    #wrapper
      block content