extends layout
include mixin/nav-bar
include mixin/work-box
block content
    +nav-bar('WORKS')
    .contents
        #works 
            include includes/bg-score
            #work-list
                +work-box("Pianoid II", "/pianoid-ii.jpg", "/works/pianoid-ii")
                +work-box("Quantization", "/quantization.jpg", "/works/quantization")
                +work-box("Cosmophony", "/cosmophony.jpg", "/works/cosmophony")