extends ./detail-layout
block work-title
    h2 Kurofune LAB.
block work-movie
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cr-TPwgUckY?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
block work-description
    h3 Designer
    | Kazuho Ishida
    h3 Sound Designer
    | Satoshi Suzuki 
    h3 Engineer
    | Yuichi Yogo