extends ./detail-layout
block work-title
    h2 Pianoid II
block work-movie
    <iframe width="560" height="315" src="https://www.youtube.com/embed/56ylqLaRp0c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
block work-description
    h3 Year of Composition
    | 2019
    h3 Composed By
    | Yuichi Yogo