html,
body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Azonix;
  src: url("/Azonix.otf") format("opentype");
}

@font-face {
  font-family: Actor;
  src: url("/Actor-Regular.ttf") format("truetype");
}